* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: url("img/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    font-family: 'Titillium Web', sans-serif;
}

.wrapper {
   max-width: 1000px;
   margin: 0 auto;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
}

.logo {
    max-width: 429px;
    margin-top: 55px;
    margin-left: auto;
    margin-right: auto;
}

.logo-bottom {
    margin-top: 50px;   
}

.logo__img {
    max-width: 100%;
    opacity: .3;
    display: block;
    margin: 0 auto;
}

.form {
    max-width: 420px;
}

.form__container {
    background-color:  rgba(0, 0, 0, 0.23);
    padding: 20px;
    border-radius: 5px;
}

.form__inside {
    background-color:  #f4f4f4;
    padding: 14px 22px;
    border-radius: 3px;
}

.form__heading {
    font-size: 32px;
    margin-top: 25px;
    margin-bottom: 18px;
    text-align: center;
    text-shadow: 1px 2px 2px rgba(43, 1, 0, 0.75);
}

.form__row {
    display: flex;
    justify-content: space-between;
}

input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border:  1px solid #c6c6c6;
    border-radius: 3px;
    background-color:  #f8f8f8;
}

input[type=text] {
    background-image: url('img/input-username.png');
    background-position: 16px 4px; 
    background-repeat: no-repeat;
    padding-left: 75px;
    border-left: 1px solid #ccc;
}

input[type=password] {
    background-image: url('img/input-password.png');
    background-position: 16px 4px; 
    background-repeat: no-repeat;
    padding-left: 75px;
    border-left: 1px solid #ccc;
}

input[type=email] {
    background-image: url('img/input-email.png');
    background-position: 16px 4px; 
    background-repeat: no-repeat;
    padding-left: 75px;
    border-left: 1px solid #ccc;
}

input[type=tel] {
    background-image: url('img/input-phone.png');
    background-position: 16px 4px; 
    background-repeat: no-repeat;
    padding-left: 75px;
    border-left: 1px solid #ccc;
}

input[class="location"] {
    background-image: url('img/input-location.png');
    background-position: 16px 4px; 
    background-repeat: no-repeat;
    padding-left: 75px;
    border-left: 1px solid #ccc;
}

input[type=submit] {
    color: #fff;
    cursor: pointer;
}

input[type=checkbox] {
    display: none;
 }

input[type=checkbox] + label:before {
    content: "";
    border: 1px solid #8e8e8e;
    border-radius: 3px;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    position: relative;
    top: 4px;
}

input[type=checkbox]:checked + label:before {
    width: 20px;
    height: 20px;
    transition: .2s;
    border-radius: 3px;
}

input[type=checkbox]:checked + label::after {
    content: "";
    width: 12px;
    height: 12px;
    border-radius: 3px;
    background: linear-gradient(#a3d740, #7fc41f);
    position: absolute;
    left: 5px;
    top: 6px;
}

textarea {
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    border-color:  #c6c6c6;
    background-color:  #f8f8f8;
    width: 337px;
    height: 230px;
    padding: 10px 15px;
    font-family: inherit;
    font-size: inherit;

}

.btn {
    text-shadow: 1px 1px 0 #51850e;
    background-color: #93d02b;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.15) 0%, rgba(255, 255, 255, 0.15) 100%);
    border: 1px solid #3b9a00;
    font-size: 23px;
    padding: .4em;
}

.btn:hover {
    background-color: #3b9a00;
}

.btn-smaller {
    max-width: 149px;
    font-size: 18px;
    padding: .5em;
}

.btn-disable {
    border-color:  #90ca6d;
    background-color:  #bcdb97;
}

.btn-red {
    border-color:  #a2202a;
    background-color:  #f4495b;
}

.btn-red:hover {
    background-color: #f52941;
}

label {
    color:  #afafaf;
    font-size: 17px;
    font-weight: 300;
    position: relative;
}

@media (min-width: 880px) {
    .main {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-start;
    }
}



